.blog-list{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-bottom: 20px;
    gap: 10px;
    .loading{
        text-align: center;
        width: 100%;
    }
    .blog-child{
        position: relative;
        text-align: left;
        padding: 5px;
        border: solid 1px grey;
        width: 280px;
        min-height: 240px;
        margin: 0 auto;
        .title{
            font-size: 20px;
            font-weight: 700;
        }
        .body{
            font-size: 16px;
            margin-top: 10px;
        }
        button{
            position: absolute;
            font-size: 14px;
            bottom: 10px;
            left: 80px;
            right: 80px;
        }

    }
}

.add-blog{
    background-color: #306666;
    margin: 10px auto;
}